* {
  font-family: 'Gabarito';
}

:root {
  --white: rgb(252, 255, 252);
  --second: #C4E3CB;
  --third: #8AAE92;
  --accent: #616161;
}

body {
  background: var(--white);
  color: rgba(0, 0, 0, 0.87);
  /* font-family: Roboto, Helvetica, Arial, sans-serif; */
  margin: 0;
  padding: 0;
}

#message {
  background: var(--white);
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: var(--accent);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

#search-box {
  width: 100%;
  padding: 30px calc(50% - 350px) 0;
  position: relative;
  box-sizing: border-box;
}

.search {
  position: absolute;
  top: 38px;
  right: calc(50% - 330px);
  color: var(--accent);
}

#query {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 17px;
  font-size: 16px;
  box-sizing: border-box;
  background: var(--second);
}

#header {
  position: absolute;
  text-align: center;
  width: 100%;
  /* left: calc(50% - 150px); */
  top: 1vh;
  font-size: 50px;
}

#results {
  width: 100%;
  left: 0vw;
  height: calc(100% - 56px);
  padding: 40px calc(50% - 400px) 20px;
  box-sizing: border-box;
  text-align: center;
}

#docs {
  width: 100%;
  box-sizing: border-box;
  padding: 0 calc(50% - 500px);
}

.hit {
  background-color: var(--white);
  width: 300px;
  padding: 30px;
  border-radius: 10px;
  display: inline-grid;
  margin: 5px;
  text-align: center;
}

.party-shape {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  margin: 0 3px;
  background-color: white;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.doc {
  width: calc(50% - 10px);
  min-height: 200px;
  border-radius: 20px;
  display: inline-block;
  cursor: pointer;
  margin: 15px 3px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  vertical-align: text-top;
}

.motion-tag {
  position: absolute;
  top: -4px;
  left: 10px;
  background: var(--accent);
  color: var(--white);
  border-radius: 20px;
  font-size: 12px;
  padding: 2px 5px;
}

.program-tag {
  position: absolute;
  top: -4px;
  left: 10px;
  background: var(--accent);
  color: var(--white);
  border-radius: 20px;
  font-size: 12px;
  padding: 2px 5px;
}

.motion-parties {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.votes-for-parties,
.votes-against-parties,
.votes {
  position: relative;
}

.motion-party {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  ;
  border: 1px solid var(--accent);
  background-color: white;
}

.status-tag {
  position: absolute;
  top: -4px;
  right: 10px;
  background: var(--third);
  color: var(--accent);
  border-radius: 20px;
  padding: 2px 5px;
  font-size: 12px;
}

p {
  padding: 0;
  margin: 0
}

.party-square {
  position: absolute;
  background-size: 50px auto;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  border: 3px solid var(--white);
  box-sizing: border-box;
  background-color: var(--second);
}

#doc {
  z-index: 10;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--white);
  color: var(--accent);
  border-radius: 20px;
  display: none;
  position: absolute;
  border-radius: 20px;
  display: none;
  top: 5%;
  position: fixed;
  left: calc(50% - 350px);
  width: 700px;
  padding: 30px 100px;
  max-height: 90%;
  overflow: auto;
  box-sizing: border-box;
}

#doc .close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#doc .votes {
  margin: 50px 0;
}

#doc .members {
  margin-top: 0;
  vertical-align: top;
  height: 10px;
  ;
  width: 200px;
}

#doc .text-piece {
  margin: 10px 0;
  background-color: #ffdedebf;
  border-radius: 20px;
  padding: 10px;
  max-width: 500px;
}

#doc .status-tag {
  font-size: 15px;
  padding: 5px 7px;
  position: initial;
  display: inline-block;
}

#doc .motion-parties {
  left: 0;
}

.votes,
.status-tag {
  display: inline-block;
}

.votes-for,
.votes-against {
  width: calc(50% - 10px);
}

.votes-for {
  margin-right: 5px;
}

#chart {
  width: 700px;
}

.chart-container {
  width: 800px;
  margin: 0 auto;
}

#date {
  margin-bottom: 30px;
  background: #b18b8b;
  color: var(--white);
  border-radius: 20px;
  display: inline-block;
  width: fit-content;
  padding: 4px 8px;
}

footer {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

em {
  background-color: antiquewhite;
}

.title {
  font-size: 23px;
  line-height: 23px;
  font-style: italic;
}

.motion-title-member {
  background: var(--accent);
  color: var(--white);
  width: fit-content;
  border-radius: 20px;
  padding: 3px 8px;
  display: inline-block;
  margin: 0 6px 6px 0px;
}

#tags {
  display: block;
}

.venn {
  display: inline-block;
}

#venn-container {
  margin: 30px auto;
  width: 300px;
}

.summary {
  color: #ad7474;
  font-style: italic;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 30px !important;
}

.source-text-piece {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.loader {
  border: 16px solid var(--second);
  /* Light grey */
  border-top: 16px solid var(--third);
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.fact {
  text-align: center;
  padding: 5px 20px;
  background: var(--third);
  margin: 5px 2px;
  color: var(--white);
  width: calc(50% - 4px);
  box-sizing: border-box;
  display: inline-block;
  border-radius: 20px;
  height: 50px;
  vertical-align: bottom;
  position: relative;
  padding-left: 45px;
}

#facts {
  width: 700px;
  margin: 0 auto;
}

u {
  text-decoration-color: var(--accent);
  text-decoration-style: dashed;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: none;
}

.info {
  color: var(--accent);
  position: absolute;
  left: 10px;
  top: 12px;
}

#heatmap {
  margin: 20px calc(50% - 200px);
  height: 400px;
  width: 400px;
}

#heatmap-hint {
  margin-top: 20px;
}

#queries-history {
  position: fixed;
  height: 100%;
  width: 200px;
  background-color: var(--third);
  display: none;
  left: 0;
  overflow: auto;
}

.query-item {
  padding: 7px 20px;
  font-size: 15px;
  display: block;
  text-align: left;
  cursor: pointer;
}

.query-item:hover {
  background-color: var(--second);
}

#history-header {
  padding: 0 20px;
  font-size: 20px;
  margin: 20px 0 10px;
}
.program-2023{
  background-color: aliceblue;
}
.program-2021 {
  border: 2px dashed var(--accent);
  background-color: #e2e5e2;
}

.motion {
  background-color: #faebd79c;
}